.App {
  text-align: center;
  
}

.App-Icon {
  display: inline;
  flex-direction: row;
  align-items: center;
  color: gray;
  justify-content: baseline;
  vertical-align: middle;
}

h3 {
  color: rgb(100, 100, 100);
  text-align: left;
  border: 'text-primary';
  width: '5rem';
  height: '5rem';
}


 



