.App {
  text-align: center;
  
}

.App-Icon {
  display: flex;
  color: gray;
  vertical-align: middle;
}

.App-IconSettings {
  color: gray;
 
}

h3 {
  color: rgb(100, 100, 100);
  text-align: center;
  border: 'text-primary';
  width: '5rem';
  height: '5rem';
}


 



